nav #navHead {
  background: #3E3E3E;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav #navHead #logoSearchBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 25px;
  flex: 1;
}
nav #navHead #logoSearchBar img {
  width: 115.5px;
  padding: 14.5px;
  margin-left: 10%;
}
nav #navHead #logoSearchBar input {
  font-size: 16px;
  padding: 8px;
  padding-bottom: 6px;
  width: 45%;
  margin-bottom: 4px;
  border: solid 1px #b1b1b1;
}
nav #navHead #logoSearchBar .fa-search {
  color: #999999;
  position: relative;
  right: 55px;
  font-size: 20px;
  font-weight: 600;
}
nav #navHead #signReg {
  display: flex;
  grid-gap: 30px;
  margin-right: 30px;
}
nav #navHead #signReg a {
  display: flex;
  grid-gap: 10px;
}
nav #navBar ul {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px black;
}
nav #navBar ul li {
  display: flex;
  list-style: none;
}
nav #navBar ul li a {
  padding: 18px 10px;
  font-size: 15px;
  font-weight: 600;
}
nav #navBar ul li a:hover {
  background: whitesmoke;
}
nav #navBar #hbMenu {
  border: solid 1px grey;
  height: 30px;
  width: 40px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
}
nav #navBar #hbMenu .hbBar {
  width: 100%;
  height: 2px;
  background: gray;
}
nav hr {
  height: 10px;
  background: whitesmoke;
}

@media only screen and (max-width: 960px) {
  nav #navHead {
    padding-top: 10px;
    background: #3E3E3E;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
  }
  nav #navHead #logoSearchBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 25px;
    flex: 1;
    width: 100%;
  }
  nav #navHead #logoSearchBar img {
    width: 115.5px;
    padding: 14.5px;
    margin-left: 10%;
  }
  nav #navHead #logoSearchBar input {
    font-size: 16px;
    padding: 8px;
    padding-bottom: 6px;
    width: 100%;
    margin-bottom: 4px;
    border: solid 1px #b1b1b1;
  }
  nav #navHead #logoSearchBar .fa-search {
    color: #999999;
    position: relative;
    right: 55px;
    font-size: 20px;
    font-weight: 600;
  }
  nav #navHead #signReg {
    display: flex;
    grid-gap: 30px;
    margin-right: 30px;
  }
  nav #navHead #signReg a {
    display: flex;
    grid-gap: 10px;
  }
  nav #navBar {
    display: flex;
    flex-direction: column;
  }
  nav #navBar ul {
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px black;
  }
  nav #navBar ul li {
    display: none;
    list-style: none;
  }
  nav #navBar ul li a {
    padding: 18px 10px;
    font-size: 15px;
    font-weight: 600;
  }
  nav #navBar ul li a:hover {
    background: whitesmoke;
  }
  nav #navBar #hbMenu {
    align-self: flex-end;
    border: solid 1px grey;
    height: 35px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    margin: 10px;
  }
  nav #navBar #hbMenu .hbBar {
    width: 100%;
    height: 2px;
    background: gray;
  }
}
header #deliveryNotice {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 13px 102px;
}
header #headerSlider {
  display: flex;
  flex-direction: column;
}
header #headerSlider img {
  width: 100%;
}
header #headerSlider #imgFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}
header #headerSlider #imgFooter h3 {
  padding: 5px;
}
header #headerSlider #sliderKey {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
  padding: 12px;
  background: white;
}
header #headerSlider #sliderKey .key {
  height: 7px;
  width: 7px;
  background: #d4d4d4;
  border-radius: 50px;
}

@media only screen and (max-width: 860px) {
  header #deliveryNotice {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 13px 0;
  }
  header #deliveryNotice h3 {
    width: 100%;
  }
}
#topPicksWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
}
#topPicksWrap #picksSlideWrap {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#topPicksWrap #picksSlideWrap div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#topPicksWrap #picksSlideWrap div img {
  width: 200px;
}
#topPicksWrap #picksSlideWrap i {
  font-size: 25px;
}

@media only screen and (max-width: 1500px) {
  #topPicksWrap #picksSlideWrap div img {
    width: 120px;
  }
}
@media only screen and (max-width: 800px) {
  #topPicksWrap #picksSlideWrap div img {
    width: 100px;
  }
  #topPicksWrap #picksSlideWrap i {
    font-size: 25px;
  }

  .slideImg {
    display: none;
  }
}
#sec-2-gridWrap {
  padding: 36px 62px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "grid1 grid1 grid1 grid2 grid2 grid2" "grid3 grid3 grid4 grid4 grid5 grid5";
}
#sec-2-gridWrap .grid-item img {
  width: 100%;
}
#sec-2-gridWrap .grid-item p {
  font-weight: 300;
}
#sec-2-gridWrap .grid-item a {
  font-weight: 600;
  text-decoration: underline;
}
#sec-2-gridWrap #grid1 {
  grid-area: grid1;
}
#sec-2-gridWrap #grid2 {
  grid-area: grid2;
}
#sec-2-gridWrap #grid3 {
  grid-area: grid3;
}
#sec-2-gridWrap #grid4 {
  grid-area: grid4;
}
#sec-2-gridWrap #grid5 {
  grid-area: grid5;
}

@media only screen and (max-width: 1000px) {
  #sec-2-gridWrap {
    padding: 36px 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "grid1 grid1" "grid2 grid3" "grid4 grid5";
  }
}
#sec-3-Wrap {
  padding: 14px 62px;
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec-3-Wrap #sec-3-text {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
#sec-3-Wrap #sec-3-text p {
  font-weight: 300;
}
#sec-3-Wrap #sec-3-text a {
  font-weight: 600;
  text-decoration: underline;
}
#sec-3-Wrap #imgWrap {
  flex: 1.5;
  display: flex;
  justify-content: flex-end;
}
#sec-3-Wrap #imgWrap img {
  width: 50%;
  max-width: 250px;
  min-width: 20%;
}

#sec-4-gridWrap {
  padding: 50px 62px;
  grid-gap: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "S4grid1 S4grid2 S4grid3";
}
#sec-4-gridWrap .grid-item img {
  width: 100%;
}
#sec-4-gridWrap .grid-item p {
  font-weight: 300;
}
#sec-4-gridWrap .grid-item a {
  font-weight: 600;
  text-decoration: underline;
}
#sec-4-gridWrap #S4grid1 {
  grid-area: S4grid1;
}
#sec-4-gridWrap #S4grid2 {
  grid-area: S4grid2;
}
#sec-4-gridWrap #S4grid3 {
  grid-area: S4grid3;
}

@media only screen and (max-width: 800px) {
  #sec-4-gridWrap {
    padding: 50px 5px;
    grid-gap: 30px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "S4grid1 S4grid1 " "S4grid2 S4grid3";
  }
  #sec-4-gridWrap .grid-item img {
    width: 100%;
  }
  #sec-4-gridWrap .grid-item p {
    font-weight: 300;
  }
  #sec-4-gridWrap .grid-item a {
    font-weight: 600;
    text-decoration: underline;
  }
  #sec-4-gridWrap #S4grid1 {
    grid-area: S4grid1;
  }
  #sec-4-gridWrap #S4grid2 {
    grid-area: S4grid2;
  }
  #sec-4-gridWrap #S4grid3 {
    grid-area: S4grid3;
  }
}
#trendingWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
}
#trendingWrap #picksSlideWrap {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#trendingWrap #picksSlideWrap div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#trendingWrap #picksSlideWrap div img {
  width: 200px;
}
#trendingWrap #picksSlideWrap i {
  font-size: 25px;
}

@media only screen and (max-width: 1500px) {
  #trendingWrap #picksSlideWrap div img {
    width: 120px;
  }
}
@media only screen and (max-width: 800px) {
  #trendingWrap #picksSlideWrap div img {
    width: 100px;
  }
  #trendingWrap #picksSlideWrap i {
    font-size: 25px;
  }

  .slideImg {
    display: none;
  }
}
#sec-6-gridWrap {
  padding: 36px 62px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "grid1 grid1 grid1 grid2 grid2 grid2" "grid3 grid3 grid4 grid4 grid5 grid5";
}
#sec-6-gridWrap .grid-item img {
  width: 100%;
}
#sec-6-gridWrap .grid-item p {
  font-weight: 300;
}
#sec-6-gridWrap .grid-item a {
  font-weight: 600;
  text-decoration: underline;
}
#sec-6-gridWrap #grid1 {
  grid-area: grid1;
}
#sec-6-gridWrap #grid2 {
  grid-area: grid2;
}
#sec-6-gridWrap #grid3 {
  grid-area: grid3;
}
#sec-6-gridWrap #grid4 {
  grid-area: grid4;
}
#sec-6-gridWrap #grid5 {
  grid-area: grid5;
}

@media only screen and (max-width: 1000px) {
  #sec-6-gridWrap {
    padding: 36px 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "grid1 grid1" "grid2 grid3" "grid4 grid5";
  }
}
footer {
  background: #2E2E2E;
  color: whitesmoke;
  padding: 0 50px;
}
footer #footerHead {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  padding: 10px;
}
footer #footerHead img {
  width: 80px;
}
footer #siteMap {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
footer #siteMap ul li {
  list-style: none;
}
footer #siteMap ul li a {
  font-weight: 300;
  padding: 5px 0;
}
footer #footer-sec-pay {
  display: flex;
  padding: 15px 0;
}
footer #footer-sec-pay .payRow {
  display: flex;
  flex-direction: column;
}
footer #footer-sec-pay .payRow img {
  width: 100%;
}
footer #footer-sec-pay .payRow h3 {
  text-align: center;
}
footer #footer-sec-pay #waysToPay {
  flex: 1;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
footer #footer-sec-pay #signUp {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 8px;
}
footer #footer-sec-pay #signUp form {
  display: flex;
  justify-content: center;
  width: 100%;
}
footer #footer-sec-pay #signUp form input {
  padding: 6px;
  font-size: 16px;
  width: 55%;
}
footer #footer-sec-pay #signUp form button {
  background: #A12283;
  padding: 8px 15px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 800;
}
footer #footer-sec-pay #moreFromGame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 5px;
}
footer #footer-sec-pay #moreFromGame img {
  width: 50%;
}
footer #footer-sec-pay #moreFromGame div {
  display: flex;
  grid-gap: 10px;
  margin: 5px;
}
footer #footer-sec-pay #moreFromGame div i {
  font-size: 26px;
}
footer #footer-sec-pay #rewards {
  flex: 1;
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}
footer #footer-sec-pay #rewards #rewardTitle {
  background: white;
  color: #2E2E2E;
}
footer #footer-sec-pay #rewards div {
  display: flex;
  grid-gap: 10px;
}
footer #footer-sec-pay #rewards div img {
  width: 50%;
}
footer #footer-sec-companyReg {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
footer #footer-sec-companyReg small {
  font-size: 12px;
  font-weight: 300;
  width: 95%;
  text-align: center;
}
footer #footer-sec-credit {
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
}
footer #footer-sec-credit .h4Inverted {
  background: white;
  font-size: 14px;
  color: #2E2E2E;
  padding: 5px 20px;
  border-radius: 5px;
}
footer #footer-sec-credit div {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
footer #footer-sec-credit div img {
  width: 80px;
}
footer #footer-trademark {
  font-size: 11px;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  footer {
    padding: 0 2px;
  }
  footer #siteMap {
    flex-direction: column;
    grid-gap: 10px;
    padding: 15px 0;
  }
  footer #siteMap ul h3 {
    background: gray;
    font-weight: 800;
    font-size: 25px;
  }
  footer #siteMap ul li {
    display: none;
  }
  footer #siteMap ul li a {
    font-weight: 300;
    padding: 5px 0;
  }
  footer #footer-sec-pay #waysToPay {
    display: none;
  }
  footer #footer-sec-pay #moreFromGame {
    display: none;
  }
  footer #footer-sec-pay #rewards {
    display: none;
  }

  #footer-sec-credit {
    flex-direction: column;
    grid-gap: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 17px;
}

section {
  background: white;
}

@media only screen and (max-width: 960px) {
  main {
    background: #e7e7e7;
    padding: 10px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
