
@import './partials/navBar.scss';
@import './partials/header.scss';
@import './partials/index-body.scss';
@import './partials/footer.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-size: 17px;
}

section{
    background: white;
}
@media only screen and (max-width: 960px) {
    main{
        background: #e7e7e7;
        padding: 10px 20px;
    }
    
}