<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <title>Document</title>
    </head>
</head>
<body>
    <nav>
        <div id="navHead">
            <div id="logoSearchBar">
                <img src="./images/Logo-White.png">
                <input placeholder="Search...">
                <i class="fas fa-search"></i>
            </div>
            <div id="signReg">
                <a>
                    <i class="fas fa-user"></i>
                    <p>Sign in | Register</p>
                </a>
                <a>
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Store Finder</p>
                </a>
                <a>
                    <i class="fas fa-shopping-basket"></i>
                    <i class="fas fa-sort-down"></i>
                </a>
                
            </div>
            
        </div>
        <div id="navBar">
            <div id="hbMenu">
                <div class="hbBar"></div>
                <div class="hbBar"></div>
                <div class="hbBar"></div>
            </div>
            <ul>
                <li><a>PLAYSTATION</a></li>
                <li><a>XBOX</a></li>
                <li><a>NINTENDO</a></li>
                <li><a>PC GAMING</a></li>
                <li><a>COMING SOON</a></li>
                <li><a>MERCH</a></li>
                <li><a>TECH</a></li>
                <li><a>PRE-OWNED</a></li>
                <li><a>ACCESSORIES</a></li>
                <li><a>DEALS</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <header>
            <a id="deliveryNotice">
                <h3>£4.99 Standard Delivery Charge back in points with GAME Elite</h3>
                <h3 style="text-decoration: underline;">Find out more</h3>
            </a>
            <div id="headerSlider">
                <img src="./images/headerImg1.jpg">
                <div id="imgFooter">
                    <h3>The latest news as it happens</h3>
                </div> 
                <div id="sliderKey">
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                </div>
            </div>
        </header>
        <section>
            <div id="topPicksWrap">
                <h1>TOP PICKS</h1>
                <div id="picksSlideWrap">
                    <i class="fas fa-chevron-left"></i>
                    <div>
                        <img src="./images/topPicks/pick1.png">
                        <img src="./images/topPicks/pick2.jfif">
                        <img src="./images/topPicks/pick3.png">
                        <img class="slideImg" src="./images/topPicks/pick4.jfif">
                        <img class="slideImg" src="./images/topPicks/pick5.jfif">
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </div>
                
            </div>
        </section>
        <section>
            <div id="sec-2-gridWrap">
                <div id="grid1" class="grid-item">
                    <img src="./images/section2Grid/exclusive-E.gif">
                    <p>GAME Exclusive range</p>
                    <a>Shop all</a>
                </div>
                <div id="grid2" class="grid-item">
                    <img src="./images/section2Grid/Deathloop.jpg">
                    <p>Games to be excited about</p>
                    <a>Pre-order now</a>
                </div>
                <div id="grid3" class="grid-item">
                    <img src="./images/section2Grid/Poke-Futsal-Fire-E.jpg">
                    <p>Exclusive Scorbunny Fustal card</p>
                    <a>Shop all</a>
                </div>
                <div id="grid4" class="grid-item">
                    <img src="./images/section2Grid/NS-Zelda-E.jpg">
                    <p>From £299.99</p>
                    <a>Shop all</a>
                </div>
                <div id="grid5" class="grid-item">
                    <img src="./images/section2Grid/Digi-Double-E.png">
                    <p>Double Points on all digital products</p>
                    <a>Shop all</a>
                </div>
            </div>
        </section>
        <section>
            <div id="sec-3-Wrap">
                <div id="sec-3-text">
                    <h1>FROM £224.99</h1>
                    <p>Switch + Skyward Sword HD</p>
                    <a>Shop all</a>
                </div>
                <div id="imgWrap">
                    <img src="./images/section2Grid/NS-Zelda-CB.png">
                </div>
            </div>
        </section>
        <section>
            <div id="sec-4-gridWrap">
                <div id="S4grid1" class="grid-item">
                    <img src="./images/section4Grid/PS-Controllers-E.jpg">
                    <p>DualSense Controllers</p>
                    <a>Shop all</a>
                </div>
                <div id="S4grid2" class="grid-item">
                    <img src="./images/section4Grid/Headsets-E.jpg">
                    <p>Gaming headsets</p>
                    <a>Shop all</a>
                </div>
                <div id="S4grid3" class="grid-item">
                    <img src="./images/section4Grid/XBChoseController-E.jpg">
                    <p>Xbox Series accessories</p>
                    <a>Shop all</a>
                </div>
            </div>
        </section>
        <section>
            <div id="trendingWrap">
                <h1>TRENDING</h1>
                <div id="picksSlideWrap">
                    <i class="fas fa-chevron-left"></i>
                    <div>
                        <img src="./images/topPicks/pick1.png">
                        <img src="./images/topPicks/pick2.jfif">
                        <img src="./images/topPicks/pick3.png">
                        <img class="slideImg" src="./images/topPicks/pick4.jfif">
                        <img class="slideImg" src="./images/topPicks/pick5.jfif">
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </section>
        <section>
            <h2 class="sectionTitle">MORE FROM GAME</h2>
            <div id="sec-6-gridWrap">
                
                <div id="grid1" class="grid-item">
                    <img src="./images/section6Grid/CrisTales-E.jpg">
                    <p>Games you might have missed</p>
                    <a>Shop all</a>
                </div>
                <div id="grid2" class="grid-item">
                    <img src="./images/section6Grid/PSHits-E.jpg">
                    <p>3 for £30 on Playstation Hits</p>
                    <a>Pre-order now</a>
                </div>
                <div id="grid3" class="grid-item">
                    <img src="./images/section6Grid/SummerOfEsports-E.jpg">
                    <p>WIN CASH PRIZES</p>
                    <a>Shop all</a>
                </div>
                <div id="grid4" class="grid-item">
                    <img src="./images/section6Grid/TI-10PCExtra-E.jpg">
                    <p>Trade in get extra</p>
                    <a>Shop all</a>
                </div>
                <div id="grid5" class="grid-item">
                    <img src="./images/section6Grid/FlightSimulator-E.jpg">
                    <p>Top 5 holiday destinations</p>
                    <a>Shop all</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div id="footerHead">
            <h2>DISCOVER</h2>
            <img src="./images/Logo-White.png">
        </div>
        <hr>
        <div id="siteMap">
            <ul>
                <h3>Our Products</h3>
                <li><a>Deals</a></li>
                <li><a>Accessories</a></li>
                <li><a>Coming Soon</a></li>
                <li><a>Pre-owned</a></li>
                <li><a>Tech | Merchandise</a></li>
                <li><a>Playstation® | Xbox® | Nintendo®</a></li>
            </ul>
            <ul>
                <h3>Our Services</h3>
                <li><a>GAME Blog</a></li>
                <li><a>Pre-order price promise</a></li>
                <li><a>Trade-in</a></li>
                <li><a>Pre-owned guarantee</a></li>
                <li><a>GAME Finance</a></li>
                <li><a>Store Finder | Store Events</a></li>
            </ul>
            <ul>
                <h3>Customer Services</h3>
                <li><a>Help Home</a></li>
                <li><a>Contact Us</a></li>
                <li><a>Deliveries</a></li>
                <li><a>Where is my order?</a></li>
                <li><a>Returns information</a></li>
            </ul>
            <ul>
                <h3>Company Information</h3>
                <li><a>Gender Pay Gap</a></li>
                <li><a>Modern Slavery</a></li>
                <li><a>Careers at GAME</a></li>
                <li><a>Tax Strategy</a></li>
                <li><a>Covid-19 Information</a></li>
            </ul>
            <ul>
                <h3>About</h3>
                <li><a>News</a></li>
                <li><a>Privacy Centre</a></li>
                <li><a>Terms & Conditions</a></li>
                <li><a>Cookies</a></li>
                <li><a>Copyright</a></li>
            </ul>
        </div>
        <hr>
        <div id="footer-sec-pay">
            <div class="payRow" id="waysToPay">
                <h3>Ways To Pay</h3>
                <img src="./images/footer/waystoPay.png">
            </div>
            <div class="payRow" id="signUp">
                <h3>Email Sign-Up</h3>
                <p>Sign up for the latest news, game releases and best deals.</p>
                <form>
                    <input placeholder="Your email">
                    <button>SIGN ME UP</button>
                </form>
            </div>
            <div class="payRow" id="moreFromGame">
                <h3>More From GAME</h3>
                <img src="./images/footer/Belong_Gaming_Arenas.png">
                <div>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-youtube-square"></i>
                    <i class="far fa-comment-alt-lines"></i>
                </div>
            </div>
            <div class="payRow" id="rewards">
                <h3>Reward, Elite & App</h3>
                <div>
                    <img src="./images/footer/eliteLogo.png">
                    <img src="./images/footer/rewardLogo.png">
                </div>
                <h3 id="rewardTitle">GAME Reward App</h3>
                <div>
                    <img src="./images/footer/appleStore.png">
                    <img src="./images/footer/googlePlay.png">
                </div>
            </div>
        </div>
        <div id="footer-sec-companyReg">
            <small>Game Retail Limited. trading as GAME.co.uk - Company Registration No: 7837246 - Company Registered in England Registered Address: Unity House, Telford Road, Basingstoke, Hampshire, RG21 6YJ GAME Retail Limited is authorised and regulated by the Financial Conduct Authority (FRN: 652341) Credit provided by Klarna Bank AB (publ) Registered office: Sveavägen 46, 111 34 Stockholm, Sweden. Corporation ID number: 556737-0431.Klarna Bank AB is authorised and regulated by the Swedish Financial Supervisory Authority. Deemed authorised by the Prudential Regulation Authority. Subject to regulation by the Financial Conduct Authority and limited regulation by the Prudential Regulation Authority. © Game.co.uk 2019 All Rights Reserved</small>
        </div>
        <hr>
        <div id="footer-sec-credit">
            <div>
                <img src="./images/footer/paypalcredit.png">
                <h4>Representative Example:</h4>
            </div>
            <h4 class="h4Inverted">Representative 21.9% APR (variable)</h4>
            <h4 class="h4Inverted">Purchase rate 21.9% p.a. (variable)</h4>
            <h4 class="h4Inverted">Assumed credit limit £1,200</h4>
        </div>
        <small id="footer-trademark">Subject to status. Terms and conditions apply. Game Retail Limited acts as a broker and not a lender. Commission may be received. We will introduce to PayPal (Europe) S.à rl et Cie, S.C.A, 22-24 Boulevard Royal, L-2449, Luxembourg. ™</small>
    </footer>

    
</body>
</html>